@page "/"
@inject Helper.EndPoints.AccountEndPoint AccountEndPoint;

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    protected override async Task OnInitializedAsync()
    {
        await AccountEndPoint.DeleteAccount("PT50 0069 2635 6687480150 72");
    }
} 
