
<!-- Modal -->
<div class="modal @ModalClass" style="display: @ModalDisplay" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">@Title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" @onclick="() => Close()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        @if (IsMoney)
        {
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Valor:</label>
            <InputText @bind-Value=Value type="text" class="form-control" id="recipient-name" />
          </div>
        </form>
        } else {
            @Description
        }
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => Close()">Ok</button>
      </div>
    </div>
  </div>
</div>

@if (IsOpened)
{
    <div class="modal-backdrop fade show"></div>
}

@code {

    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public string Description { get; set; } = string.Empty;

    [Parameter]
    public bool IsMoney { get; set; }
    public bool IsOpened { get; set; }
	public string ModalClass { get; set; } = "";
	public string ModalDisplay { get; set; } = "none;";
    public string Value { get; set; } = null!;

    public void Open(string title, string description)
    {
        Title = title;
        Description = description;

        ModalDisplay = "block;";
        ModalClass = "Show";
        IsOpened = true;
        StateHasChanged();
    }
    public async Task<string> Insert(string title)
    {
        Open(title, string.Empty);

        while (IsOpened) { System.Console.WriteLine("ola"); }

        return await Task.FromResult<string>(title);
    }

    public void Close()
    {
        ModalDisplay = "none";
        ModalClass = "";
        IsOpened = false;
        StateHasChanged();
    }

}